.popup__button-close {
    width: 40px;
    height: 40px;
    background-image: url('../../../images/CloseIcon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:468px) {
    .popup__button-close {
        width: 26px;
        height: 26px;
        right: -4px;
        top: -35px;
    }
}

.popup__button-close:hover {
    cursor: pointer;
    transition: 0.3s;
    opacity: 60%;
}